<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Stefano Zoia">
    <meta property="og:title" content="Image Ranker">
    <meta property="og:type" content="website">
    <title>Image Ranker</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <style>
        .material-symbols-rounded {
        font-variation-settings:
        'FILL' 0,
        'wght' 300,
        'GRAD' 0,
        'opsz' 24
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Image ranking experiment</h1>

        <!-- IMAGE COMPARISON -->
        <div id="img-comp" class="image-comparison">
            <div id="img-descr">
                <p>Two images were generated for the following description:</p>
                <ul id="descriptions-list"></ul>
                <p>Select the better one.</p>
            </div>
            
            <div class="images">
                <img id="image1" src="" alt="Image 1">
                <img id="image2" src="" alt="Image 2">
            </div>
            <div class="image-names">
                <span id="image1-name">Image A</span>
                <span id="image2-name">Image B</span>
            </div>
            <div class="a-b-buttons">
                <div class="button-group">
                    <div class="action-buttons">
                        <button id="image1-btn" onclick="selectWinner('image1')">A is better <span class="shortcut">(&larr; left arrow)</span></button>
                    </div>
                </div>
                <div class="button-group">
                    <div class="action-buttons">
                        <button id="image2-btn" onclick="selectWinner('image2')">B is better <span class="shortcut">(&rarr; right arrow)</span></button>
                    </div>
                </div>
            </div>
            <!--div class="tie-button">
                <div class="button-group">
                    <div class="action-buttons">
                        <button id="tie-btn" onclick="selectWinner('tie')">No preference<span class="shortcut">(N key)</span></button>
                    </div>
                </div>
            </div-->
        </div>

        <!-- PROGRESS BAR -->
        <!--div class="progress-bar">
            <div id="progress-fill"></div>
        </div>
        <div id="progress-text"></div-->

    </div>
    
    <!-- FOOTER -->
    <footer class="footer">
        <div class="footer-content">
            <div class="footer-section">
                <h3>About</h3>
                <p>The comparisons are anonymous and used for research purposes. For more information, you can contact <a href="mailto:stefano.zoia@unito.it" target="_blank">Stefano Zoia</a>.</p>
                <p>The code for the image ranker is based on this <a href="https://github.com/QuentinWach/image-ranker" target="_blank">GitHub Repository</a></p>
            </div>
        </div>
    </footer>
    
    <script>
        let currentImages = {};
        
        function updateProgress(progress) {
            const progressFill = document.getElementById('progress-fill');
            const progressText = document.getElementById('progress-text');
            const percentage = (progress.current / progress.total) * 100;
            progressFill.style.width = `${percentage}%`;
            progressText.textContent = `You evaluated ${progress.current} out of ${progress.total} comparisons in our dataset. Thank you for your time!`;
        }

        // Load next pair of images
        function loadImages() {
            fetch('/get_images', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ 
                    sessionId: parseInt(sessionStorage.getItem("session_id"))
                }),
            })
            .then(response => response.json())
            .then(data => {
                if (data.end) {
                    document.getElementById('img-comp').remove();
                    document.removeEventListener('keydown', keyListener)
                    //updateProgress(data.progress);
                }else{
                    console.log('Received image data:', data);
                    currentImages = data;
                    document.getElementById('image1').src = data.image1;
                    document.getElementById('image2').src = data.image2;
                    //console.log(data.descriptions, typeof data.descriptions);
                    //updateProgress(data.progress);

                    const descrList = document.getElementById('descriptions-list');
                    descrList.innerHTML = '';
                    
                    data.descriptions.forEach(desc => {
                        const li = document.createElement('li');
                        li.textContent = desc;
                        descrList.appendChild(li);
                    });

                }
            })
            .catch(error => {
                console.error('Error loading images:', error);
            });
        }
      
        function loadSession() {
            id = sessionStorage.getItem("session_id")
            if (! id) {
                fetch("/get_session")
                .then(response => response.json())
                .then(data => {
                    sessionStorage.setItem("session_id", data.session);
                    loadImages();
                })
            }else{
                loadImages();
            }
            
        }
       
        // Update after each comparison
        function selectWinner(winnerImage) {
            
            fetch('/update_scores', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ 
                    image1: currentImages.image1, 
                    image2: currentImages.image2,
                    winner: winnerImage,
                    sessionId: parseInt(sessionStorage.getItem("session_id"))
                }),
            })
            .then(() => {
                loadImages();
            });
        }
  
        // Map keys to selection buttons
        function animateButton(buttonId) {
            const button = document.getElementById(buttonId);
            button.classList.add('pressed');
            setTimeout(() => {
                button.classList.remove('pressed');
            }, 100);
        }
        
        function keyListener(event) {
            if (event.code === 'ArrowLeft') {
                selectWinner('image1');
                animateButton('image1-btn');
            } else if (event.code === 'ArrowRight') {
                selectWinner('image2');
                animateButton('image2-btn');
            } else if (event.code === 'KeyN') {
                selectWinner('tie');
                animateButton('tie-btn');
            }
        }
        
        // Initial loading
        loadSession();
        document.addEventListener('keydown', keyListener);
        
    </script>
</body>
</html>